<section class="about">
    <div class="about__poster">
        <div class="about__movie">
            <img class="about__image" src="https://images-na.ssl-images-amazon.com/images/I/81QR26W5jVL._AC_SX466_.jpg" alt="">
            <div class="about__trailer">
                <h1 class="about__title">Wonder Woman 1983</h1>
                <div class="about__rating">
                    <i class="fas fa-star about__icon about__rating-item"></i>
                    <p class="about__value about__rating-item">7.0</p>
                    <button class="about__btn about__rating-item">Play Trailer</button>
                </div>
            </div>
        </div>
    </div>
    <div class="about__content">
        <div class="about__content-card">
        <div class="about__subtitle">
            <h2>Overview</h2>
        </div>

        <div class="about__article">
            <p>Wonder Woman comes into conflict with the Soviet Union during the Cold War in the 1980s and finds a formidable foe by the name of the Cheetah.</p>
        </div>
        </div>
    </div>
</section>