<header>
    <div class="header" >

    <div class="header__logo">

  <a href="./index.njk" class="header__text"><p >Vilm</p></a>  

    </div>

    <div class="header__search" >
        <input type="text" name="search" id="search-input" class="header__search-area" placeholder="Search movies and tvs">
        <a href="" class="header__search-icon"><i class="fas fa-search"></i>
</a>
    </div>

    </div>
</header>
                                                                                  