<section class="poster">

    <div class="poster__article">

        <h1 class="poster__title">space sweepers</h1>
        <p class="poster__content">In the year 2092, space is full of dangerous floating garbage like discarded satellites and deserted spaceships. The crew of a space junk collector ship called The Victory discovers a humanoid robot that’s known to be a weapon of mass destruction. They get involved in a risky business deal and travel through space looking for garbage they can make money off of while also competing with rival junk collectors.</p>

    </div>

    <div class="poster__rating">

        <i class="poster__star fas fa-star"></i>
        <p class="poster__value">7.0</p>
        
    </div>




</section>