<section class="trending">

        <div class="trending__movies">
            <h2 class="trending__title">Trending Movies</h2>
            <div class="trending__list">
              <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
               <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                

            </div>
        </div>

        <div class="trending__tvs">
            <h2 class="trending__title">Trending TVs</h2>

            <div class="trending__list">

               <div class="trending__list">
              <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                <a href="" class="trending__link">
                <div class="trending__item">
                    <img src="https://i.pinimg.com/236x/8d/36/a6/8d36a6e0c7a6fb251682b3f0e1856a03.jpg" alt="" class="trending__image">
                  <div class="trending__about">
                    <p class="trending__subtitle">The Ardennes</p>
                    <time class="trending__date"> 2021</time>
                    </div>
                </div>
                </a>
                
                

            </div>
                

            </div>
        </div>
        
  
</section>