.about {
    &__poster {
        background-image: url(https://d3dh6of9cnaq4t.cloudfront.net/Pictures/480x270//6/3/0/15630_intl_wdwmn2_vert_tsr_intl_2764x4096widescreencropuseaspicturelayout_396346.jpg);
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        
        color: $txt-color;
        background-size: cover;
        

        @include mq(tablet, max) {
            & {
                background-position: center;
            }
        }
    }

    &__movie {
        display: flex;
        align-items: flex-end;
        justify-content: center;

        position: absolute;
        top: 430px;
        left: 80px;

        @include mq(mobile, max) {
            & {
                flex-direction: column;
                left: 20%;
              
            }
        }
    }

    &__image {
        height: 300px;
    }

    &__trailer {
        padding-bottom: 25px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-size: 36px;

        @include mq(mobile, max) {
            & {
                font-size: 20px;
                margin-top: 20px;
            }
        }
    }

    &__rating {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        &-item {
            margin-right: 25px;

            @include mq(tablet, max) {
                & {
                    margin-right: 15px;
                }
            }
        }
    }

    &__icon {
        font-size: 20px;
        padding-top: 15px;
    }

    &__value {
        font-size: 20px;
        font-weight: bold;
        padding-top: 15px;
    }

    &__btn {
        background-color: $btn-color;
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 5px;
        font-size: 24px;
        cursor: pointer;
        font-weight: bold;

        &:hover {
            opacity: 0.5;
            transition: 0.5s;
        }

        @include mq(mobile, max) {
            & {
                width: 100px;
                font-size: 16px;
                font-weight: bold;
            }
        }
    }

    &__content {
        background-color: $tg-bgcolor;
        color: $txt-color;
        padding-bottom: 50px;
        
        @include mq(mobile, max) {
            & {
                padding-top: 75px;
                padding-left:25px;
            }
        }

        &-card {
           
            font-size: 36px;
            padding-top: 200px;
            padding-left: 70px;
            @include mq(mobile, max) {
                & {
                    width: 300px;
                }
            }
        }
    }

    &__subtitle {
        
        @include mq(tablet, max) {
            & {
                font-size: 24px;
            }
        }
    }

    &__article{
        width: 80%;
        @include mq(tablet, max) {
            & {
                font-size: 24px;
                margin-top: 20px;
            }
        }
        @include mq(mobile, max) {
            & {
                font-size: 16px;
            }
        }
    }
    
}