.about {

    &__poster {
        background-image: url(https://d3dh6of9cnaq4t.cloudfront.net/Pictures/480x270//6/3/0/15630_intl_wdwmn2_vert_tsr_intl_2764x4096widescreencropuseaspicturelayout_396346.jpg);
      
        height: 500px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        color: $txt-color;
        background-size:cover;
        background-position:center;

    }

    &__movie {
        display: flex;
        align-items: flex-end;
        justify-content: center;

        position: absolute;
        top: 340px;
        left: 80px;
        @include mq(tablet, max) {
            &{
                flex-direction: column;
               
            }
    
        }
        @include mq(mobile, max) {
            &{
                flex-direction: column;
                left: 60px;
               
            }
    
        }

    }


    &__image {
        height: 300px;
        

    }

    &__trailer {
        padding-bottom: 25px;
        padding-left: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
    }

    &__title{
        font-size: 36px;
        @include mq(tablet, max) {
            &{
                font-size: 20px;    
                padding-right: 5px;   
                padding-top: 20px;        
            }
    
        }
    }

    &__rating {
        display: flex;
        flex-direction: row;
        margin-top: 10px;
       
        
        

        &-item {
            margin-right: 25px;
            @include mq(tablet, max) {
                &{
                  margin-right: 15px;
                }
        
            }
        }
    }

    &__icon {
        font-size: 20px;
        padding-top: 15px;
    }

    &__value {
        font-size: 20px;
        font-weight: bold;
        padding-top: 15px;
    }

    &__btn{
        background-color: $btn-color;
        width: 200px;
        height: 50px;
        border: none;
        border-radius: 5px;
        font-size: 24px;
        cursor: pointer;

        &:hover{
            opacity: 0.8;
            transition: 0.5s;
        }

        @include mq(tablet, max) {
            &{
              width: 75px;
              font-size: 10px;
              font-weight: bold;

            }
    
        }
        
    }

    &__content{
        height: 500px;
        background-color: $tg-bgcolor;
        color: $txt-color;
        display: flex;
        @include mq(tablet, max) {
            &{
                padding-top: 75px;
                
            
            }
    
        }
        &-card{
            width: 950px;
            font-size: 36px;
            padding-top: 200px;
            padding-left: 70px;
            @include mq(tablet, max) {
                &{
                    width: 300px;
                    padding-left: 100px;
                }
        
            }
            @include mq(mobile, max) {
                &{
                    
                    padding-left: 70px;
                   
                }
        
            }
            
        }
    }
    &__subtitle{
        @include mq(tablet, max) {
            &{
                font-size: 15px;
            }
    
        }
    }
    

    @include mq(tablet, max) {
        &__article{
            font-size: 15px;
            margin-top: 20px;
            
        }

    }
    
}