.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color;
    height: 90px;                                                                                                                       

    &__logo {
        font-weight: 1000;
        margin-left: 20px;
    }

    &__text {
        font-size: 48px;
        line-height: 58px;
        color: $txt-color;
        text-decoration: none;
    }

    &__search {
        margin-right: 20px;

        &-area {
            width: 425px;
            height: 50px;
            font-size: 20px;
            background-color: $bg-search; 
            color: $txt-color;
            line-height: 40px;
            border: none;
            padding-left: 5px;
            border-radius:8px 0px 0px 8px;
            @include mq(mobile, max) {
                &{
                    display: none;
                }
        
            }

            &:focus {
                background-color: $bg-search;
                color: $txt-color;
                outline: none;
            }
            &::placeholder{
                color:$txt-color;
            }

        }

        &-icon {
            display: block;
           height: 50px;
           width: 50px;
           font-size: 36px;
           text-align: center;
           padding-top: 5px;
            float: right;
            background-color: $bg-search;
            color: $txt-color;
            border-radius: 0px 8px 8px 0px;
            @include mq(mobile, max) {
                &{
                    background-color: $bg-color;
                }
        
            }
        }
    }

}