.result{
    display: flex;
    flex-direction: row;
    background-color: $tg-bgcolor;

    &__films{
        display: flex;
        flex-direction: column;
        color:$txt-color;
       
      
       
    }

    &__title{
        font-size: 48px;
        margin-top: 50px;
        text-align: center;
        @include mq(tablet, max) {
            & {
                font-size: 24px;
                
            }

        }
    }
    &__list{
      
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 50px;
        justify-content: center;
        

        &:last-child{
            align-self: flex-start;
        }
    } 

    &__link{
        text-decoration: none;
        &:hover{
            transform: scale(1.2);
            transition: 0.5s;
        }
    }
    &__item{
        width: 200px;
        color: $tg-color;
        background-color: $tg-licolor;
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        margin-top: 35px;
        @include mq(tablet, max) {
            & {
                width: 100px;
                margin-right: 10px;

            }

        }
    }

    &__image{
        width: 200px;
        @include mq(mobile, max) {
            & {
                width: 100px;
                height: 110px;
            }
        }

    }

    &__about{
        display: flex;
        flex-direction: column;
       padding: 15px;
       
       
     }

    
    &__subtitle{
        font-weight: bold;
        @include mq(tablet, max) {
            & {
               font-size: 10px;
            }

        }
    }
    &__date{
        font-weight: bold;
        @include mq(tablet, max) {
            & {
                font-size: 10px;
                margin-top: 5px;
            }

        }
    }

}