.trending{
    padding-bottom: 50px;
    background-color: $tg-bgcolor;
    color: $txt-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include mq(mobile, max) {
        &{
            background-color: $tg-licolor;
        }

    }

    // movies section start

    &__movies{
        padding-top: 50px;


        }

        &__title{
            font-size: 48px;
            @include mq(mobile, max) {
                &{
                    font-size: 14px;
                   text-align: center;
                }
        
            }
            
        }

    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        
        
        
        
    }
    &__link{
        display: block;
        text-decoration: none;
        &:hover{
            transform: scale(1.2);
            transition: 0.5s;
        }
        @include mq(mobile, max) {
            &{
                height: 160px;
                margin-bottom: 20px;
            }
    
        }
        
    }
    

    &__item{
        width: 200px;
        color: $tg-color;
        background-color: $tg-licolor;
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        margin-top: 35px;
        @include mq(mobile, max) {
            &{
                width: 90px;
                margin-right: 10px;
            }
    
        }
        
    }
    
        
    
    

    &__about{
       display: flex;
       flex-direction: column;
      padding: 10px;
      
    }

    &__subtitle{
        @include mq(mobile, max) {
            &{
                font-size: 10px;
            }
    
        }
    }
    &__date{
        margin-top: 5px;
        @include mq(mobile, max) {
            &{
                font-size: 10px;
            }
    
        }
    }

    // movies section end

    // tvs section start

    &__tvs{
        padding-top: 50px;
        
    }
    
}