.trending {
    padding-bottom: 50px;
    background-color: $tg-bgcolor;
    color: $txt-color;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include mq(mobile, max) {
        & {
            background-color: $tg-licolor;
        }
    }

    // movies section start
    &__movies {
        padding-top: 50px;
    }

    &__title {
        font-size: 48px;
        margin-left: 15px;

        @include mq(mobile, max) {
            & {
                font-size: 24px;
                text-align: center;
            }
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    &__link {
        text-decoration: none;

        &:hover {
            transform: scale(1.2);
            transition: 0.5s;
        }
    }

    &__item {
        
        color: $tg-color;
        background-color: $tg-licolor;
        display: flex;
        flex-direction: column;
        margin-right: 30px;
        margin-top: 35px;

        @include mq(mobile, max) {
            & {
                margin-right: 10px;
            }
        }
    }
    &__image{
        width: 200px;
        @include mq(mobile, max) {
            & {
                width: 100px;
                height: 110px;
            }
        }

    }

    &__about {
        display: flex;
        flex-direction: column;
        padding: 10px;

    }

    &__subtitle {
        font-weight: bold;
        @include mq(mobile, max) {
            & {
                font-size: 9px;
            }
        }
    }

    &__date {
        margin-top: 5px;
        font-weight: bold;

        @include mq(mobile, max) {
            & {
                font-size: 9px;
            }
        }
    }

    // movies section end

    // tvs section start

    &__tvs {
        padding-top: 50px;
    }
}